

/* ----- Campus -----  */
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.camp-h1{
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 850;
    /* font-family: 'Proza Libre', sans-serif; */
}
 
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    display: block;
}

.campus-col img{
    height: 80vh;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    padding-top: 10px;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(200, 0, 229, 0.523);
}

.layer h3{
    width: 100%;
    font-weight: 600;
    color: #fff;
    font-size: 23px;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
    opacity: 0;
}

.layer:hover h3{
    opacity: 1;
    bottom: 49%;
}