/* -----Footer ----- */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0px;
}

.footer h4{
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 600;
}

.footer .icons .fa{
    padding: 20px;
    color: #f44336;
}
