*{
    margin: 0px;
    padding: 0px;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url('/imgs/bg.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-items: center;
    
}

.log{
    width: 100px;
    filter: invert(35%) sepia(62%) saturate(2343%) hue-rotate(339deg) brightness(96%) contrast(100%);
}

.nav-link{
    flex: 1;
    text-align: right;
}

.nav-link ul li{
    list-style:  none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-link ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Libre Franklin', sans-serif;

}

.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-link ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 52px;
    font-family: 'Proza Libre', sans-serif;
}

.text-box p{
    color: #fff;
    font-size: 15px;
    margin: 10px 0px 40px;
    /* font-family: 'Cormorant Garamond', serif; */
    font-family: 'Taviraj', serif;

}

.visit-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 30px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.visit-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa{
    display: none;
}


@media(max-width: 700px){
    .text-box h1{
        font-size:24px;
    }

    .nav-link ul li{
        display: block;
    }

    .nav-link{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-link ul{
        padding: 30px;
    }
}